# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
coverage/
generated_plugin_registrant.dart

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/.idea/
**/android/*.iml
**/android/app/*.iml
**/android/.cxx/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS and macOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/

# Xcode related
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Windows
**/windows/flutter/ephemeral/
**/windows/runner/GeneratedPluginRegistrant.*

# Linux
**/linux/flutter/ephemeral/
**/linux/runner/GeneratedPluginRegistrant.*

# Visual Studio Code
.vscode/
.idea/
*.iml

# IntelliJ / Android Studio
*.ipr
*.iws
.idea/
*.iml

# Miscellaneous
*.log
*.tmp
*.temp
*.bak
*.swp
*.DS_Store
*.lock
Thumbs.db

# Firebase & Secrets
google-services.json
GoogleService-Info.plist
*.keystore
*.jks

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment
.env
.env.*